@font-face {
  font-family: "DM Sans";
  src:
    local("DM Sans"),
    url("DMSans-VariableFont_opsz,wght.ttf") format("ttf");
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  width: 100%;
}
::-webkit-scrollbar-track-piece {
  display: block;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  height: 175px;
  border: 1px solid #222;
  border-radius: 2px;
  background: #333;
  box-shadow: inset 1px 1px 0 0 #444;
}
::-webkit-scrollbar-thumb:hover {
  border: 1px solid #333;
  background: #444;
  box-shadow: inset 1px 1px 0 0 #555;
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}


body {
  background-color: #000;
  color: #f8f8f8;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 333;
  height: 595px;
  margin: 0;
  padding: 0;
  width: 350px;
  -webkit-font-smoothing: antialiased;
}

header {
  background: transparent;
  height: auto;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 335px;
}

h1 .o1,
h1 .o2 {
  display: inline-block;
}
h1 .o1 {
  transform: rotate(-14deg);
}
h1 .o2 {
  transform: rotate(17deg);
}

h1 {
  font-size: 30px;
  font-weight: 900;
  height: 34px;
  left: 9px;
  letter-spacing: -0.03em;
  position: absolute;
  text-shadow: 2px 2px 0 #000;
  top: -15px;
  width: auto;
}

h2 {
  color: #e5e5e5;
  font-size: 10px;
  font-weight: 500;
  height: auto;
  left: 10px;
  letter-spacing: -0.02em;
  position: absolute;
  top: 30px;
  width: auto;
}

main {
  height: 491px;
  left: 0;
  margin: 0 2px 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  top: 99px;
  width: 345px;
}

h3,
h4 {
  color: #dadada;
  float: left;
  height: 20px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 0 #121;
  white-space: nowrap;
  width: 185px;
}

h3 {
  font-weight: 900;
  font-size: 14px;
  margin: 19px 0 0 76px;
}

h4 {
  font-weight: 500;
  margin: -3px 0 0 76px;
  font-size: 13px;
}

h4:before {
  content: "\201C";
}
h4:after {
  content: "\201D";
}

ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ol {
  margin-right: 3px;
}

ol li {
  background-image: radial-gradient(
    circle farthest-corner at center top,
    #222 0%,
    #131313 70%
  );
  border-radius: 5px;
  border: 1px solid #232328;
  margin: 0 0 5px 7px;
  min-height: 88px;
  position: relative;
  width: 97%;
}

ol li a {
  color: #fff;
  float: left;
  height: 60px;
  margin: 0;
  width: 85%;
}

ol li a i {
  color: #f1f1f1;
  font-weight: 300;
}

ol li .itms {
  height: auto;
  margin: 10px auto 0 5px;
  width: 63px;
}

li:hover h3,
li:hover h4 {
  color: #6ea4e7;
  transition: color .3s ease-out, color .3s ease-in;
}
audio {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  position: absolute;
  right: -35px;
  top: 8px;
  width: 100px;
}

audio:hover {
  cursor: pointer;
}
audio::-webkit-media-controls-panel {
  background: transparent;
}

audio::-webkit-media-controls-enclosure {
  background: transparent;
  width: 59px;
  overflow: hidden;
}

audio::-webkit-media-controls-panel {
  filter: invert(100%);
}

audio::-webkit-media-controls-play-button {
  margin-left: 10px;
}

audio::-webkit-media-controls-timeline,
audio::-internal-media-controls-overflow-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-internal-track-segment-highlight-before,
audio::-internal-track-segment-highlight-after,
audio::-webkit-media-controls-timeline,
-internal-media-controls-overflow-button {
  display: none !important;
}

input[type="range"] {
  display: none !important;
}

select {
  background-color: #3e3e3e;
  border: 1px solid #151517;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 0 #121212;
  color: #f8f8f8;
  height: 31px;
  inset: 1px 1px 1px 0 #3e3e3e;
  outline: 0;
  position: absolute;
  top: 58px;
  right: 3px;
  width: 325px;
}

.album {
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0 #000;
  position: absolute;
  top: 5px;
  left: 5px;
}

.badge {
  left: 9px;
  position: absolute;
  top: 42px;
}

a {
  outline: none;
  text-decoration: none;
}
.noaudio {
  cursor: not-allowed;
  opacity: 0.33;
}

#visualisation {
  border-radius: 2px;
  height: 25px;
  position: absolute;
  right: 3px;
  top: 10px;
  width: 128px;
  -webkit-box-reflect: below 1px
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      to(rgba(255, 255, 255, 0.2))
    );
}

#visualisation > div {
  bottom: 0;
  display: inline-block;
  position: absolute;
  width: 2.5%;
}
